<option value="strength">{{localize "vm20DarkAge.Strength"}}</option>
<option value="dexterity">{{localize "vm20DarkAge.Dexterity"}}</option>
<option value="stamina">{{localize "vm20DarkAge.Stamina"}}</option>
<option value="charisma">{{localize "vm20DarkAge.Charisma"}}</option>
<option value="manipulation">{{localize "vm20DarkAge.Manipulation"}}</option>
<option value="composure">{{localize "vm20DarkAge.Composure"}}</option>
<option value="intelligence">{{localize "vm20DarkAge.Intelligence"}}</option>
<option value="wits">{{localize "vm20DarkAge.Wits"}}</option>
<option value="resolve">{{localize "vm20DarkAge.Resolve"}}</option>
