<option value="animalism">{{localize "vm20DarkAge.Animalism"}}</option>
<option value="auspex">{{localize "vm20DarkAge.Auspex"}}</option>
<option value="celerity">{{localize "vm20DarkAge.Celerity"}}</option>
<option value="dominate">{{localize "vm20DarkAge.Dominate"}}</option>
<option value="fortitude">{{localize "vm20DarkAge.Fortitude"}}</option>
<option value="obfuscate">{{localize "vm20DarkAge.Obfuscate"}}</option>
<option value="potence">{{localize "vm20DarkAge.Potence"}}</option>
<option value="presence">{{localize "vm20DarkAge.Presence"}}</option>
<option value="protean">{{localize "vm20DarkAge.Protean"}}</option>
<option value="sorcery">{{localize "vm20DarkAge.BloodSorcery"}}</option>
<option value="oblivion">{{localize "vm20DarkAge.Oblivion"}}</option>
<option value="alchemy">{{localize "vm20DarkAge.ThinBloodAlchemy"}}</option>
<option value="rituals">{{localize "vm20DarkAge.Rituals"}}</option>
<option value="ceremonies">{{localize "vm20DarkAge.Ceremonies"}}</option>