<option value="academics">{{localize "vm20DarkAge.Academics"}}</option>
<option value="animal ken">{{localize "vm20DarkAge.AnimalKen"}}</option>
<option value="athletics">{{localize "vm20DarkAge.Athletics"}}</option>
<option value="awareness">{{localize "vm20DarkAge.Awareness"}}</option>
<option value="brawl">{{localize "vm20DarkAge.Brawl"}}</option>
<option value="craft">{{localize "vm20DarkAge.Craft"}}</option>
<option value="drive">{{localize "vm20DarkAge.Drive"}}</option>
<option value="etiquette">{{localize "vm20DarkAge.Etiquette"}}</option>
<option value="finance">{{localize "vm20DarkAge.Finance"}}</option>
<option value="firearms">{{localize "vm20DarkAge.Firearms"}}</option>
<option value="insight">{{localize "vm20DarkAge.Insight"}}</option>
<option value="intimidation">{{localize "vm20DarkAge.Intimidation"}}</option>
<option value="investigation">{{localize "vm20DarkAge.Investigation"}}</option>
<option value="larceny">{{localize "vm20DarkAge.Larceny"}}</option>
<option value="leadership">{{localize "vm20DarkAge.Leadership"}}</option>
<option value="medicine">{{localize "vm20DarkAge.Medicine"}}</option>
<option value="melee">{{localize "vm20DarkAge.Melee"}}</option>
<option value="occult">{{localize "vm20DarkAge.Occult"}}</option>
<option value="performance">{{localize "vm20DarkAge.Performance"}}</option>
<option value="persuasion">{{localize "vm20DarkAge.Persuasion"}}</option>
<option value="politics">{{localize "vm20DarkAge.Politics"}}</option>
<option value="science">{{localize "vm20DarkAge.Science"}}</option>
<option value="stealth">{{localize "vm20DarkAge.Stealth"}}</option>
<option value="streetwise">{{localize "vm20DarkAge.Streetwise"}}</option>
<option value="subterfuge">{{localize "vm20DarkAge.Subterfuge"}}</option>
<option value="survival">{{localize "vm20DarkAge.Survival"}}</option>
<option value="technology">{{localize "vm20DarkAge.Technology"}}</option>
